input,textarea{
    font-size: 14px;
    line-height: 1.5;
    display: block;
    height: 37px;

    border: 5px solid #ccc;
    border-radius: 5px;
  
   
}

.entireForm{

    margin-top:20px;
  
    display: flex;
    justify-content: center;
    max-height:800px;
    max-width: 700px; 
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

:hover {
    border-color: #ccc;
}
:focus{
    border-color: #eeeaea;
    background: #fff;
}

.clearbtn{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 55px;
    color: #ffffff;
    background:red;
    border-radius: 40px;
    font-weight: 500;
    font-size: 14px;
}

.submitbtn{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 60px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 14px;
    align-content: center;
}


.location {
    display: flex;
    justify-content: center;
  }


.error-message {
    background-color: #f8d7da; /* Light red background for error messages */
    color: #721c24; /* Dark red text color */
    padding: 15px; /* Padding for better readability */
    border: 1px solid #f5c6cb; /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin-top: 20px; /* Spacing from the previous content */
  }
  
  .error-message h4 {
    text-align: center;
    margin-bottom: 10px; /* Add spacing below each heading */
  }

.accountCreated{
    background-color: #94ffbf; /* Light red background for error messages */
    padding: 15px; /* Padding for better readability */
    border: 1px solid #f5c6cb; /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin-top: 20px; /* Spacing from the previous content */
}
.accountCreated h2,h4{
    text-align: center;
    color: rgb(2, 3, 2);
}

.accountCreated h5{
    text-align: center;
    font-style:italic;
}